body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    height:100%
    

}
header {
    /* will keep the header on the top */
    position: absolute;
    top: 0;
    width: 100%;
    background: #89bfec;
    color: white;
    
}
li{
    list-style: none;
    
}
a{
    color: white;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
}

.topnav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh; 
   
}

.topnav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;

}
.topnav .logo {
    height: 70px; /* Adjust height as needed */ 
    margin-right: 10px;
}


/* hover over the nav bar*/
.topnav-menu a:hover {
    background-color: #ddd;
    color: black;
    cursor: pointer;
}

/* active bar */
.topnav-menu a.active {
    background-color: #9ed8da;
    color: white;
}
 
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
}

.cart{
    height: 40px; /* Adjust height as needed */ 
    margin-right: 10px;
    justify-content: flex-end;
    cursor: pointer;
}


.presentation{
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;

}
.presentation2{
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;

}
.introduction{
    flex: 1;
}
.intro-text h1{
    font-size: 38px;
    font-weight: 500;
    /* add a gradient to the text*/
    background: linear-gradient(to right, #494964,#6f6f69);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.intro-text p{
    margin-top: 5px;
    font-size: 18px;
    color: #585772;
}
.cta{
    /* top right bottom left */
    padding: 50px 0px 0px 0px;
}
/* 14 inch button */
.cta-select{
    border: 2px solid #89bfec;
    background: transparent;
    color: #89bfec;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    
}
.cta-add{
    border: none;
    background: #89bfec;
    color: white;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    /* top, right, bottom, left */
    margin: 30px 0px 0px 30px;
    
}
.cta button:hover {
    background-color: #ddd;
    color: black;
    cursor: pointer;
}
.cover {
    flex: 1;
}
.cover img{
    height: 50vh;
    /* add a drop shadow */
    filter: drop-shadow(0px 5px 3px black);
}

/* when the screen is smaller */
@media screen and (max-width:1024px){
    .topnav-menu{
        width: 60%;
    }
    .presentation{
        flex-direction: column;
    }
    .introduction{
        margin-top: 5vh;
        text-align: center;
    }
    .intro-text h1{
        font-size: 30px;
        padding: 30px 0px 0px 0px
    }
    .intro-text p{
        font-size: 18px;
    }
    .cta{
        padding: 10px 0px 10px 0px;
    }

}



@media screen and (max-width:768px){
    /* the display of the links when the screen us smaller */
    
    /* we don't want to scroll to look at the bar */
    body{
        overflow-x: hidden;
    }
    .topnav-menu{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color:  #89bfec;
        display: flex;
        flex-direction: column;
        align-items: center; /* center the links horizontally */
        justify-content: center; /* center the links vertically */
        width: 50%;
        /* move the container off the screen */
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 100;

    }
    /* initially, we don't want the links to be visible - they will fade in nicely */
    .topnav-menu li{
        opacity: 0;
    }

    .burger{
        display:block;
        position: relative;
        z-index: 200;
    }

    .cover img {
    height: 40vh;
    /* add a drop shadow */
    filter: drop-shadow(0px 5px 3px black);
    position: relative;
    z-index: 1;
    }

}
.nav-active{
    transform: translateX(0%);
}

/* build animation for the links so they appear when the screen is smaller*/
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

/* product slider on the homepage*/
.product{
    position: relative;
    overflow: hidden;
    padding: 20px;
}
.prod-category{
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 1px;
    text-transform: capitalize;
    /* add a gradient to the text*/
    background: linear-gradient(to right, #494964,#6f6f69);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.prod-container{
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    /* scrolling smoothly */
    scroll-behavior: smooth;
    gap: 20px;
}

.prod-container::-webkit-scrollbar{
    display: none;
}
/* temp */
.left-btn{
    display: flex;
    width: 50px;
    height: 50px;
}
/* temp */
.left-btn img{
    display: flex;
    width: 50px;
    height: 50px;
}

/* temp */
.right-btn{
    display: flex;
    width: 50px;
    height: 50px;
}

.right-btn img{
    display: flex;
    width: 50px;
    height: 50px;
}
.prod-card{
    flex: 0 0 auto;
    width: 250px;
    height: 350px;
    margin-right: 20px;
  
}
.prod-image{
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.product-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.discount-tag{
    position: absolute;
    background: #f4f4f9;
    padding: 5px 10px;
    border-radius: 5px;
    color: #009688;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
}
.add-btn{
    /* top right bottom left */
    padding: 0px 0px 0px 0px;
   
}
.prod-btn{
    border: none;
    background: #89bfec;
    color: white;
    width: 120px;
    height: 40px;
    cursor: pointer;
    font-size: 16px;
    /* top, right, bottom, left */
    margin: 0px 0px 0px 0px;
}

.prod-btn button:hover {
    background-color: #ddd;
    color: black;
    cursor: pointer;
}
.prod-info{
    width: 100%;
    height: 40%;
    padding-top: 10px;
}

.prod-brand{
    text-transform: uppercase;
}

.prod-descripton{
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
}
.price{
    font-weight: 900;
    font-size: 20px;
}

.actual-price{
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;

}
.left-btn,
.right-btn{
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items:center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #f4f4f9);
    cursor: pointer;
    z-index: 9;
}

.left-btn{
    left: 0;
   

}
.right-btn{
    right: 0;
}
.left-btn img, 
.right-btn img{
    opacity: 0.2;
}

.left-btn:hover img, 
.right-btn:hover img{
    opacity: 1;
}

.collection-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
.collection{
    position: relaitve;
}
.collection img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.collection p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;

}
.collection:nth-child(){
    grid-column: span 2;
    margin-bottom: 10px;
}

/*about.html timeline*/

* {
    box-sizing: border-box;
}
.timeline{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
/* ruler of the timeline */
.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
/* container around the content */
.container{
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: black;
    border: 4px solid #89bfec;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* placement of containers*/
/* place them on the right */
.left {
    left: 0;
}
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

.people {
    flex: 1;
    position: relative;
}
.people img{
    height: 50vh;
    position: relative;
    /* add a drop shadow */
    filter: drop-shadow(0px 5px 3px black);

}
.map {
    flex: 1;
    position: relative;
}
.map img{
    height: 50vh;
    position: relative;
    /* add a drop shadow */
    filter: drop-shadow(0px 5px 3px black);
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center; /* Center text*/
    background: #ddd; /* Grey background */
    color: white;
    padding: 0px 0px 0px 0px
  }


